
.container {
  padding: 20px;
}

label {
  margin-right: 15px;
}

input {
  margin-right: 15px;
}

.info-div {
  border: 2px solid red;
  padding: 15px;
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
}